---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>About | Coolify Hosted Blog</title>
    </head>
    <body>
        <h1>About me</h1>
        <h2>... and my new Astro blog!</h2>
        <p>I am working through the Astro docs to create a blog.</p>
        <p>I will update this page as I complete the tutorial.</p>
    </body>
</html>
